$commandBar-root-bg: "[theme: neutralLighter, default: rgb(244, 244, 244)]";
$commandBar-item-default-fg: "[theme: neutralPrimary, default: rgb(51, 51, 51)]";
$commandBar-item-hover-fg: "[theme: neutralDark, default: rgb(33, 33, 33)]";
$commandBar-item-hover-bg: "[theme: neutralLight, default: rgb(234, 234, 234)]";
$commandBar-item-focus-bg: "[theme: neutralLight, default: rgb(234, 234, 234)]";
$commandBar-item-disabled-fg: "[theme: neutralTertiaryAlt, default: rgb(200, 200, 200)]";
$commandBar-item-isOpen-fg: "[theme: black, default: rgb(0, 0, 0)]";
$commandBar-item-isOpen-bg: "[theme: neutralQuaternaryAlt, default: rgb(218, 218, 218)]";
$commandBar-item-isOpen-hover-bg: "[theme: neutralQuaternary, default: rgb(208, 208, 208)]";
$commandBar-itemIcon-default-fg: "[theme: themeDarkAlt, default: rgb(16, 110, 190)]";
$commandBar-itemIcon-hover-fg: "[theme: themeDark, default: rgb(0, 90, 158)]";
$commandBar-itemIcon-disabled-fg: "[theme: neutralTertiaryAlt, default: rgb(200, 200, 200)]";
$commandBar-itemIcon-isOpen-fg: "[theme: themeDarkAlt, default: rgb(16, 110, 190)]";
$commandBar-itemChevron-default-fg: "[theme: neutralSecondary, default: rgb(102, 102, 102)]";
$commandBar-itemChevron-isOpen-fg: "[theme: neutralDark, default: rgb(33, 33, 33)]";
$commandBar-itemChevron-hover-fg: "[theme: neutralPrimaryAlt, default: rgb(60, 60, 60)]";