$checkbox-check-default-border: "[theme: neutralTertiary, default: rgb(166, 166, 166)]";
$checkbox-check-disabled-border: "[theme: neutralTertiary, default: rgb(166, 166, 166)]";
$checkbox-check-disabled-bg: "[theme: neutralTertiaryAlt, default: rgb(200, 200, 200)]";
$checkbox-check-disabled-fg: "[theme: white, default: rgb(255, 255, 255)]";
$checkbox-check-hover-border: "[theme: neutralSecondaryAlt, default: rgb(118, 118, 118)]";
$checkbox-check-focus-border: "[theme: neutralPrimary, default: rgb(51, 51, 51)]";
$checkbox-check-checked-default-border: "[theme: themePrimary, default: rgb(0, 120, 215)]";
$checkbox-check-checked-default-bg: "[theme: themePrimary, default: rgb(0, 120, 215)]";
$checkbox-check-checked-default-fg: "[theme: white, default: rgb(255, 255, 255)]";
$checkbox-check-checked-hover-bg: "[theme: themeDarkAlt, default: rgb(16, 110, 190)]";
$checkbox-text-default-fg: "[theme: neutralPrimary, default: rgb(51, 51, 51)]";
$checkbox-text-disabled-fg: "[theme: neutralTertiary, default: rgb(166, 166, 166)]";
$checkbox-text-hover-fg: "[theme: black, default: rgb(0, 0, 0)]";
$checkbox-text-checked-border: "[theme: neutralPrimary, default: rgb(51, 51, 51)]";