$detailsHeader-root-border: "[theme: neutralLight, default: rgb(234, 234, 234)]";
$detailsHeader-cell-notActionable-fg: "[theme: neutralTertiaryAlt, default: rgb(200, 200, 200)]";
$detailsHeader-cell-default-fg: "[theme: neutralSecondary, default: rgb(102, 102, 102)]";
$detailsHeader-cell-hover-fg: "[theme: neutralPrimary, default: rgb(51, 51, 51)]";
$detailsHeader-cell-hover-bg: "[theme: neutralLighterAlt, default: rgb(248, 248, 248)]";
$detailsHeader-cell-pressed-bg: "[theme: neutralLight, default: rgb(234, 234, 234)]";
$detailsHeader-resizer-bg: "[theme: neutralTertiaryAlt, default: rgb(200, 200, 200)]";
$detailsHeader-icon-default-fg: "[theme: neutralSecondary, default: rgb(102, 102, 102)]";
$detailsHeader-icon-isFilter-fg: "[theme: neutralTertiary, default: rgb(166, 166, 166)]";
$detailsRow-root-hover-bg: "[theme: neutralLighter, default: rgb(244, 244, 244)]";
$detailsRow-root-selected-bg: "[theme: neutralQuaternary, default: rgb(208, 208, 208)]";
$detailsRow-root-selected-hover-bg: "[theme: neutralQuaternaryAlt, default: rgb(218, 218, 218)]";