$contextualMenu-root-bg: "[theme: white, default: rgb(255, 255, 255)]";
$contextualMenu-root-border: "[theme: neutralLight, default: rgb(234, 234, 234)]";
$contextualMenu-item-default-fg: "[theme: neutralPrimary, default: rgb(51, 51, 51)]";
$contextualMenu-item-default-border: "[theme: neutralLight, default: rgb(234, 234, 234)]";
$contextualMenu-item-hover-fg: "[theme: black, default: rgb(0, 0, 0)]";
$contextualMenu-item-hover-bg: "[theme: neutralLighter, default: rgb(244, 244, 244)]";
$contextualMenu-item-isOpen-bg: "[theme: neutralQuaternaryAlt, default: rgb(218, 218, 218)]";
$contextualMenu-item-isOpen-fg: "[theme: black, default: rgb(0, 0, 0)]";
$contextualMenu-item-disabled-fg: "[theme: neutralTertiaryAlt, default: rgb(200, 200, 200)]";
$contextualMenu-caret-default-fg: "[theme: neutralPrimary, default: rgb(51, 51, 51)]";
$contextualMenu-caret-hover-fg: "[theme: black, default: rgb(0, 0, 0)]";
$contextualMenu-icon-default-fg: "[theme: themePrimary, default: rgb(0, 120, 215)]";
$contextualMenu-header-default-fg: "[theme: themePrimary, default: rgb(0, 120, 215)]";
$contextualMenu-divider-border: "[theme: neutralLight, default: rgb(234, 234, 234)]";