$choiceGroup-root-focus-border: "[theme: neutralPrimary, default: rgb(51, 51, 51)]";
$choiceGroup-label-default-fg: "[theme: neutralPrimary, default: rgb(51, 51, 51)]";
$choiceGroup-label-hover-fg: "[theme: black, default: rgb(0, 0, 0)]";
$choiceGroup-label-disabled-fg: "[theme: neutralTertiary, default: rgb(166, 166, 166)]";
$choiceGroup-label-checked-fg: "[theme: neutralPrimary, default: rgb(51, 51, 51)]";
$choiceGroup-radio-default-bg: "[theme: themePrimary, default: rgb(0, 120, 215)]";
$choiceGroup-radio-default-border: "[theme: neutralTertiary, default: rgb(166, 166, 166)]";
$choiceGroup-radio-hover-border: "[theme: neutralSecondaryAlt, default: rgb(118, 118, 118)]";
$choiceGroup-radio-disabled-border: "[theme: neutralTertiaryAlt, default: rgb(200, 200, 200)]";
$choiceGroup-radio-disabled-bg: "[theme: neutralTertiaryAlt, default: rgb(200, 200, 200)]";
$choiceGroup-radio-checked-bg: "[theme: themePrimary, default: rgb(0, 120, 215)]";
$choiceGroup-radio-checked-border: "[theme: themePrimary, default: rgb(0, 120, 215)]";
$choiceGroup-radio-checked-hover-border: "[theme: themeDarkAlt, default: rgb(16, 110, 190)]";